n8n/workflow-scheduler-hourly.json
{
  "name": "Sober Strong – Hourly Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_BASE_URL }}/api/scheduler/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.N8N_WEBHOOK_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-scheduler",
      "name": "Call /api/scheduler/run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {},
      "id": "noop-ok",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {},
      "id": "noop-fail",
      "name": "Failed (check logs)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [{ "node": "Call /api/scheduler/run", "type": "main", "index": 0 }]
      ]
    },
    "Call /api/scheduler/run": {
      "main": [
        [{ "node": "Success?", "type": "main", "index": 0 }]
      ]
    },
    "Success?": {
      "main": [
        [{ "node": "Done", "type": "main", "index": 0 }],
        [{ "node": "Failed (check logs)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
